@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .clip-diagonal {
    /* diagonal igual ao print, metade da tela pra cada cor */
    clip-path: polygon(
      0 100%,
      /* parte esquerda no meio */ 100% 20%,
      /* topo direito */ 100% 100%,
      0 100%
    );
  }

  .clip-left-bottom {
    clip-path: polygon(0 100%, 0 96%, 50% 100%);
  }

  .clip-right-bottom {
    clip-path: polygon(100% 100%, 100% 96%, 50% 100%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
